<h2 mat-dialog-title>
  Ajouter des chansons
  <mat-icon>add</mat-icon>
</h2>
<mat-dialog-content class="mat-typography">
  <mat-form-field class="inputmodal-playlist">
    <mat-select placeholder="Vos chansons" name="songs" multiple [(ngModel)]="selectedSongs">
      <mat-option *ngFor="let song of data.songs" [value]="song">
        {{song.name}}
        <span *ngIf="song.artist"> - </span>
        <span *ngIf="song.artist">{{song.artist}}</span>
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="close()">
    Annuler
    <mat-icon>cancel</mat-icon>
  </button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="selectedSongs">
    Ajouter
    <mat-icon>check</mat-icon>
  </button>
</mat-dialog-actions>
