<div class="row">
  <div class="main">
    <form role="form">
      <h3>Se connecter</h3>
      <div class="form-group">
        <input id="email" type="text" class="form-control" name="email" placeholder="Email">
      </div>
      <div class="form-group">
        <a class="pull-right" href="#">Forgot password?</a>
        <input type="password" class="form-control" id="password" placeholder="Password">
      </div>
      <div class="checkbox pull-right">
        <label>
          <input type="checkbox">
          Remember me </label>
      </div>
      <button type="submit" class="btn btn btn-primary">
        Log In
      </button>
    </form>

    <div class="login-or">
      <hr class="hr-or">
      <span class="span-or">ou</span>
    </div>

    <div class="row login-button-div align-items-center">
      <div class="col-xs-9 col-sm-9 col-md-9">
        <button (click)="signInWithGoogle()" class="btn btn-block text-white" style="background-color: #c4302b">
          Se connecter avec Youtube</button>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3">
        <i class="fa fa-youtube-play fa-3x youtube"></i>
      </div>
    </div>

    <div class="row login-button-div align-items-center">
      <div class="col-xs-9 col-sm-9 col-md-9">
        <button class="btn btn-block text-white" style="background-color: #1ed761" id="spotify-singin">
          Se connecter avec Spotify</button>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3">
        <i class="fa fa-spotify fa-3x spotify" aria-hidden="true"></i>
      </div>
    </div>

    <div class="row login-button-div align-items-center">
      <div class="col-xs-9 col-sm-9 col-md-9">
        <button href="#" class="btn btn-primary btn-block">Se connecter avec Deezer</button>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3">
        <img src="assets/img/deezer-50.png"/>
      </div>
    </div>
  </div>
</div>
