/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.youtube {
  color: #c4302b;
}

.spotify {
  color: #1ed761;
}

button.musichub-rounded-botton {
  border: none;
  border-radius: 100px 100px 100px 100px;
  padding: 5px 10px;
}

