<section class="add-playlist-background transparent">
  <div class="container">
    <div class="modal-header">
      <h1 class="col-12 modal-title" style="font-weight: bold; color: #ff9900">
        Ajouter un Playlist
      </h1>
    </div>
  </div>
</section>

<div class="container-fluid">
  <form name="form" role="form" class="form-add-playlist" (ngSubmit)="f.form.valid && addPlaylist()" #f="ngForm" >
    <mat-form-field class="inputmodal-playlist">
      <input [(ngModel)]="playlist.title" name="title" matInput placeholder="Titre de la playlist" required>
    </mat-form-field>

    <mat-form-field class="inputmodal-playlist">
      <textarea [(ngModel)]="playlist.description" name="description" matInput placeholder="Description"></textarea>
    </mat-form-field>

    <mat-form-field class="inputmodal-playlist">
      <mat-select placeholder="Genre" [(ngModel)]="playlist.genre" name="genre">
        <mat-option>Aucune</mat-option>
        <mat-option *ngFor="let genre of genres" [value]="genre">
          {{genre}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="form-group inputmodal-playlist">
      <input #selectedPicture name="thumbnail" type="file" placeholder="photo de la playlist"
             ng2FileSelect [uploader]="uploader">
      <!--<button type="button" class="btn btn-success btn-s"-->
              <!--(click)="uploader.uploadAll()"-->
              <!--[disabled]="!uploader.getNotUploadedItems().length">-->
        <!--Ajouter l'image de la playlist-->
      <!--</button>-->
    </div>

    <div class="form-group buttons-form">
      <button mat-raised-button type="button"
              (click)="uploader.uploadAll()"
              [disabled]="!uploader.getNotUploadedItems().length"
              class="musichub-rounded-botton upload-image-button">
        <mat-icon>add_a_photo</mat-icon>
        Ajouter une image
      </button>

      <button *ngIf="uploader.queue.length > 0;" mat-raised-button type="button"
              (click)="removePhoto(uploader.queue[0])"
              class="musichub-rounded-botton remove-image-button">
        <mat-icon>delete_forever</mat-icon>
        retirer l'image
      </button>
    </div>

    <div class="form-group buttons-form">
      <button mat-raised-button class="musichub-rounded-botton confirm-button">
        <mat-icon>add</mat-icon>
        Créez
      </button>

      <button mat-raised-button class="musichub-rounded-botton cancel-button" type="button" (click)="cancel()">
        <mat-icon>cancel</mat-icon>
        Annuler
      </button>

    </div>
  </form>
</div>
