<section class="playlists text-center text-white">
  <div class="container">
    <div class="modal-header">
      <h1 class="col-12 modal-title">Vos Playlists</h1>
    </div>
    <p class="lead text-muted">
      Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet,
      but not too short so folks don't simply skip over it entirely.
    </p>
  </div>
</section>

<div class="py-5" style="padding-top: 16px !important;">
  <div class="container">
    <div class="button-row">
      <button mat-raised-button class="add-playlist float-right" (click)="addPlaylist()">
        <mat-icon>add</mat-icon>
        Ajouter un playlist
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="material-icons md-36">more</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <i class="fa fa-spotify fa-2x spotify"></i>
          Importez de Spotify
        </button>
        <button (click)="importFromYoutube()" mat-menu-item>
          <i class="fa fa-youtube-play fa-2x youtube"></i>
          Importez de Youtube
        </button>
      </mat-menu>
    </div>
    <div class="row">
      <ng-container *ngIf="playlists">
        <div class="col-md-4" *ngFor="let playlist of playlists">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src={{playlist.thumbnail}}
                 alt="Thumbnail [100%x225]" data-holder-rendered="true">
            <div class="card-body">
              <div class="card-title">
                <a routerLink="/playlists/{{playlist.id}}">
                  <h4 class="card-title">{{playlist.title}}</h4>
                </a>
                <span class="text-muted">{{playlist.genre}}</span>
              </div>

              <i *ngIf="isYoutubePlaylist(playlist)" class="fa fa-youtube-play fa-2x youtube"></i>
              <p class="card-text">
                {{playlist.description}}
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon class="">more_horiz</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item class="play-button">
                    <mat-icon>play_circle_outline</mat-icon>
                    <span>Écouter</span>
                  </button>
                  <button mat-menu-item class="edit-button" (click)="updatePlaylist(playlist)">
                    <mat-icon>create</mat-icon>
                    <span>Modifier</span>
                  </button>
                  <button mat-menu-item class="delete-button" (click)="deletePlaylist(playlist.id)">
                    <mat-icon>delete</mat-icon>
                    <span>Supprimer</span>
                  </button>
                </mat-menu>
                <span class="text-right text-muted">{{playlist.nbItems}} song(s)</span>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
